nav{
  line-height: 72px;
  min-height: 72px;
  background: #1C1C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navContainer{
  display: flex;
  justify-content:space-around;
  max-width: 100%;
  background-color: #1C1C1C;
  position: fixed;
  z-index: 2;
}
ul{
  list-style: none;
}
  .link {
  position: relative;
}
  .links {
  padding-right: 20px;
  min-width: 531px;
  display: flex;
  justify-content: space-between;
}

.link:before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 3px;
  background: #1C1C1C;
  transition: 0.3s;
}

.link:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background:#E27866;
  transition: 0.3s;
}

.link:hover:after {
  bottom: 10px;
  background: #E27866;
}

  a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
  }
  a:hover{
    color: #E27866;
    cursor: url(../images/hand-pointer-solid-3.png), default;
  }
  nav .navContainer ul li.active {
    background-color: #e2786665;
  }
.img-1{
  background-image: url("../images/cheshire-county-hygiene-services.png");
  width: 119.37px;
  height: 52.06px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
}