nav{
  line-height: 72px;
  height: 72px;
  background: #1C1C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navContainer{
  height: 72px;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1C1C1C;
  position: fixed;
  z-index: 2;
}
ul{
  list-style: none;
}
  .link {
  position: relative;
  margin-left: 20px ;
  margin-right: 20px ;
}
 .links {
  max-width: 531px;
  display: flex;
  flex-direction: row;
}
.link:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background:#E27866;
  transition: 0.3s;
}

.link:hover:after {
  bottom: 10px;
  background: #E27866;
}

a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
  }
a:hover{
    color: #E27866;
    cursor: url(../images/hand-pointer-solid-3.png), default;
  }
nav .navContainer ul li.active {
    a{
      color: #E27866;
      font-size: 1.2em;
    }
  }
.img-1{
  background-image: url("../images/cheshire-county-hygiene-services.png");
  width: 119.37px;
  height: 52.06px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
}