@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,400;0,600;1,300&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: montserrat;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav{
  width: 100%;
  line-height: 72px;
  background: #1C1C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .link {
  position: relative;
}
  .links {
  padding-right: 20px;
  width: 531px;
  display: flex;
  justify-content: space-between;
}

.link:before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 3px;
  background: #1C1C1C;
  transition: 0.3s;
}

.link:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background:#E27866;
  transition: 0.3s;
}

.link:hover:after {
  bottom: 10px;
  background: #E27866;
}

  a, i{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
  }
  a:hover{
    color: #E27866;
    cursor: url(../images/hand-pointer-solid-3.png), default;
  }
  .selected{
    color: #E27866;
  }

  #burger {
  cursor: pointer;
  display: none;
  font-size: 1.5em;
  transition: transform 0.3s;
  padding: 0 30px;
}

.rotate {
  transform: rotate(-90deg);
}
.block {
  display: block;
}

.img-1{
  background-image: url("../images/cheshire-county-hygiene-services@2x.png");
  width: 119.37px;
  height: 52.06px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
}
}
@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link{
    width: 100px;
    text-align: center;

  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  a {
    display: none;
  }

  #burger {
    display: block;
    position: absolute;
    top: -10px;
    right: 15px;
  }
}

.section1{
  position: relative;
  background-image: url(../images/photo-1480714378408-67cf0d13bc1b.png);
  background-position: left-top;
  background-size: cover;
  min-width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;

  .blackLayer{
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.5;
  position: absolute;
  z-index: 1;
}

  .img-2{
    background-image: url(../images/cheshire-county-hygiene-services@2x.png);
    background-repeat: no-repeat;
    width: 246.74px;
    height: 107.61px;
    margin-top: 65.76px;
    }
  .section-1-1{
    display: flex;
    flex-direction: column;
    max-width: 651px;
    margin-left: 150.04px;
    z-index: 1;
  }
h1{
    color: white;
    font-size: 36px;
    text-align: left;
    width: 426px;
    margin-top: 20px;
  }
  .img-3{
    background-image: url(../images/divider_white_u72.png);
    width: 84px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0px 20px -10px;
  }
  p{
    color: white;
    font-size: 16px;
  }

  .registation-form-1{
    display: flex;
   flex-direction: column;
  }

.download{
  width: 135px;
  height: 42px;
  text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  margin-top: 43px;
  margin-bottom: 139px;
}
.download:hover{
  background-color: #E27866;
  transform: scale(1.1);
  cursor: url(../images/hand-pointer-solid-3.png), default;
}
}

.section2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 105px;
  box-shadow: 0px 1px 3px #00000061;

.text{
  display: flex;
  flex-direction: column;
  max-width: 394px;
  justify-content: center;
  padding-left: 20px;
}
h2{
  color: #333333;
  font-size: 20px;
  padding-bottom: 10px;
}

  p{
    width: 394px;
    font-size: 14px;
    text-align: left;
    color: #86878B;
    position: relative;
  }
 .socialMedia{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 854px;
   padding-top: 38px;
   padding-bottom: 37px;
 }
 a{
  font-size: 30px;
  color: #E27866;
  cursor: url(../images/hand-pointer-solid-2.png), default;
 }
 a:hover{
   transform: scale(1.2);
 }
}
.section3{
  width: 1400px;
  height: 595px;
}
.section4{
  width: 100%;
  height: 595px;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .image1{
    background-image: url(../images/cheshire-county-hygiene-services@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 388.58px;
    min-height: 169.47px;
    margin-left: 30px;
    }
    .text{
      width: 451px;
      padding: 20px;

    }
    h2{
      color: #FFFFFF;
      font-size: 30px;
      width: 320px;
    }
    .image2{
      background-image: url("../images/divider_orange_u7\ copy\ 4@2x.png");
      background-repeat: no-repeat;
      background-size: 200px, 2px;
      width: 200px;
      height: 2px;
      margin: 27px 0px;
    }
    h3{
      color: #FFFFFF;
      font-size: 14px/20px;
      margin-bottom: 5px;
    }
    p{
      color: #FFFFFF;
      font-size: 14px;
    }
    .title1{
      display: flex;
      flex-direction: row;
      margin-top: 36px;
    }
    .title2{
      width: 394px;
    }
    i{
      color: white;
      background-color: #E27866;
      height: 50px;
      width: 50px;
      font-size: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      margin-right: 20px;
    }

}
.section5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 592px;
  box-shadow: 0px 1px 3px #00000061;

  h2{
    color: #212121;
    font-size: 36px;
    font-weight: 600;
  }

  .img-1{
    background-image: url("../images/divider_orange_u7\ copy\ 4.png");
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    width: 64px;
    height: 2px;
    margin-top: 21px;
    margin-bottom: 26px;
  }
  .top{
    display: flex;
    flex-direction: column;
  }
  .articleBox{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 65.24px;
    min-width: 80%;
    justify-content: space-around;  
  }
  article{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .article-1{
    margin-left: 0px;
    max-width: 286px;
    padding-left: 30px;
  }
  .article-2{
    max-width: 242px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .article-3{
    max-width: 238px;
    padding-right: 30px;
  }

  i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 27px;
    color: #E27866;
    border: 2px solid #E27866;
    border-radius: 100px;
  }
  h3{
    font-size: 20px/24px;
    color: #333333;
    font-weight: normal;
    margin: 27px 0px;
  }
  p{
    color: #86878B;
    font-size: 14px/20px;
  }
}
.section6{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 883px;
  background-color: #6696E2;

  .topText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .topText h2{
    font-size: 36px;
    font-weight: 600;
    color: white;
    padding: 21px 0;
  }
  .line1{
    width: 64px;
    height: 2.5px;
    background-color: #41D395;
    margin: 24px;
    }
  .topText p{
    color: white;
    font-size: 14px;
  }

  .pricingOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    
  }
  article{
    margin-top: 83px;
    width: 343px;
    padding: 10px;
  }
  .priceTop{
    background-color: #333333;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
  }
  .priceTop h2{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 20px;
    padding:  14px 0;
  }
   .payment{
    color: #86878B;
    font-weight: normal;
    font-size: 18px;
    padding:  19px 0;
  }
  .price {
    font-size: 94px;
    color: white;
  }
  span{
    font-size: 40px;
  }
  .popular{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background-color: #41D395;
    color: white;
  }
  ul{
    background-color: white;
    list-style: none;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
  } 
  li{
    font-size: 14px;
    color: #86878B;
    padding: 11px 0;
  }
  ul li:first-of-type{
    border-top: 6px solid #41D395;
  }
}
.section7{
  
}
.section8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 573px;
  background-color: #E27866;
  h2{
    color: white;
    font-size: 36px;
    font-weight: 600;
    padding: 50px 0;
  }
  p{
    color: #FFFFFF;
    font-size: 14px;
    padding-bottom: 27px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 314px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 5px 6px #00000029;
  }
  ::placeholder{
    padding-left: 7.5px;
  }
  #fname{
    width: 260px;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid #acacac;
    padding-top: 33px;
  }
  #lname{
    width: 260px;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid #acacac;
    padding-top: 33px;
  }
  #phoneNumber{
    width: 260px;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid #acacac;
    padding-top: 33px;
  }
  #send{
    width: 158.12px;
    height: 48px;
    font-size: 15px;
    color: white;
    background-color: #41D395;
    border-radius: 5px;
    border:none;
    cursor: url(../images/hand-pointer-solid-2.png), default;
  }

  .radio-inputs {
  display: flex;
  width: 50%;
  margin: auto;
}

.radio-input {
  display: flex;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;
  border: 2px solid #41D395;

  position: relative;
  top: 10px;
  margin: 5px;
  left: 5px;
  border-radius: 50%;
}

input[type="radio"],
input[type="radio"] + label {
cursor: url(../images/hand-pointer-solid-2.png), default;
}

input[type="radio"]::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  width: 50%;
  height: 50%;
  background: #41D395;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
label{
  color: #86878B;
  font-size: 9px;
}
.radioBtn{
  width: 260px;
  text-align: left;
}
}
footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 124px;
  background-color: #1C1C1C;

  .socialMedia{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 854px;
   padding-top: 38px;
   padding-bottom: 37px;
 }
 a{
  font-size: 30px;
  color: #E27866;
  cursor: url(../images/hand-pointer-solid-3.png), default;
 }
 p{
   font-size: 18px;
   color: #86878B;
 }
}